# ignore notebooks for tracking training accuracy and processing time
*.ipynb

# ignore package use to test sampling approaches for class imbalance
/pse_tsa_adapted/torchsampler

# ignore s-run files
*.sh

# ignore .pyc
*.pyc

# ignore training with single folder
train_singleloader.py

# perhaps not a good idea
*.gitignore

